# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*
!.env.example

# Distribution / Packaging
dist/
build/
*.egg-info/
docs/

# Testing
.pytest_cache/
.hypothesis/
.coverage
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Database
*.sqlite3

# Logs
*.log

# System
.DS_Store
