/* blink based browser */
html::-webkit-scrollbar {
  width: 1.30vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #a567f2;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #a567f2;
}

html::-webkit-scrollbar-track {
  background-color: #555;
}

html::-webkit-scrollbar-track:hover {
  background-color: #555;
}
/* blink based browser */

/* geckeo based browser */
html {
  scrollbar-width: bold;
  scrollbar-color: #a567f2 #555;
}
/* geckeo based browser */